<article>
  <h3>{{title}}</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora cum, non quaerat odio, reprehenderit sed
    voluptates magnam expedita dolorem, dignissimos asperiores. Eum animi consequatur voluptatem nam officia eligendi
    vel vitae!</p>
</article>